body {
    background-color: rgb(215, 215, 215)
}

.container {
    background-color: white;
    padding: 0%;
}


/* index.php */
nav {
    background-color: #007BFF;
}

.title {
    font-size: 23px;
    padding-top: 7px;
    padding-left: 10px;
    color: rgb(247, 243, 243);
}

.Options {
    font-size: 18px;
    padding-left: 15px;
    padding-top: 10px;
    color: white;
}

.subtitle{
    font-size: 25px;
    font-weight: bold;
    text-align: start;
    padding-left: 25px;
    padding-top: 20px;
}
.subtitle_2{
    font-size: 25px;
    font-weight: bold;
}

.subtitle_two{
    font-size: 18px;
    text-align: start;
    padding-left: 25px;
}

.formulario{
    margin: 2%;
    padding-bottom: 1%;
}

.formulario_titulos{
    font-size: 18px;
    text-align: start;
    padding-bottom: 10px;
}

.botao{
    width: 100px;
    height: 40px;
}

/* dados.php */

.consulta{
    padding-top: 40px;
    padding-bottom: 20px;
    margin-right: 160px;
}

div.linha {
    display: flex;
    justify-content: center;
}

.tabela{
    max-width: 65vw;
}

.tabela_linha {
    gap: 50px;
    height: 3.5rem;
    width: 2rem;
    padding: 1rem;
    background-color: #007BFF;
}

.tabela_dados{
    font-size: 1.2rem;
    font-weight: 700; 
    padding-left: 10px;
}

.tabela_c{
    border: 1px solid black;
}