/*Footer*/
h4.tite{
    color: #DF7369;
    text-shadow: 2px 1px 1px white;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 10px;
}
h4{
    font-family: 'Arial', sans-serif;
     font-size: 22px;
    color: white;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
}
footer{
    background-color: hsla(195, 98%, 19%, 0.600);
    margin-top: 3%;
}
.borda{
    border: 1px solid red;
}
p#slogan{
    color: white;
    font-size: 19px;
    text-shadow: 2px 0px 1px rgba(0, 0, 0, 0.300);
    margin-bottom: 10px;
}
p#copy{
    color: rgba(255, 255, 255, 0.479);
}
.alinhar{
    text-align: center;

}
input#mensagem{
    padding-right: 85px;
    padding-bottom: 3px;
    margin-left: 43px;
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid white;
    outline: 0;
    color: white;
    
}
input#mensagem:focus{
    border-bottom: 2px solid #c5c5c5;

}

input#mensagem::placeholder{
    color: white;
    font-size: 16px;


}
button.botao3{
    border: 0;
    background-color: transparent;
    
}
.botaoalinhar{
    Display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    Justify-content: end;
    margin-top: -30px;
    margin-right: 70px;
    
}
ul.separar li{
    margin: 30px 0px;
    list-style: none;

}
ul.separar li a{
    font-size: 20px;
    text-transform: capitalize;
    color: #f8f8f8;
    text-decoration: none;
    font-weight: 300;

}
ul li a:hover{
    color: #e7e7e7;
    transform: scale(1.03);
    transition: all 0.3s ease;
    cursor: pointer;
    padding-left: 10px;
}
.midias-sociais a{
    margin: 30px 80px;
    display: block;
    
}
.midias-sociais a:hover{
    transform: scale(1.1);
    transition: all 0.3s ease;
    cursor: pointer;
}
img.rede-social{
    width: 35px;
    height: 35px;
}
#correcao{
    margin-right: 0.0px;
}
.block{
    display: none;
}
/*Fim Footer*/