/*Header*/
#cabecalho{
	background-color: hsla(195, 98%, 19%, 0.600);
	box-shadow: 0px 5px 5px 0px #888;
	text-align: center;
	margin-right: 0px;	
    margin-bottom: 1%;
}


.redes_header{
	margin-top: 24px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.nav_header{
	margin-top: 27px;
}

.login_header{
	margin-top: 14px;
	
	
}
#menu{
	display: none;
	background-color: hsla(195, 98%, 19%, 0.600);

}
.menuheader{
	text-align: center;
	margin: 0px 20px 0px 0px;
}

.alinhar{
	text-align: center;
}

a.red{
	text-decoration: none;
	color: white;
	font-size: 1.3em;
}

a:hover.red{
			font-size: 1.5em;
			color: white;
		    transition: all 0.3s ease;
		    cursor: pointer;
		}

.redes_header a{
			display: block;
}

.redes_header a:hover{
    transform: scale(1.1);
    transition: all 0.3s ease;
    cursor: pointer;
}

.login_header a{
	display: block;
}

.login_header a:hover{
    transform: scale(1.1);
    transition: all 0.3s ease;
    cursor: pointer;
}

.logo a{
    display: block;
}

.logo a:hover{
    transform: scale(1.1);
    transition: all 0.3s ease;
    cursor: pointer;
}
/*Fim Header*/