
/* 
 Responsividade
*/

/* responsividade */
@media(max-width:1399px){
    img.post-big{
        width: 730px;
        height: 487px;
    }

    img.posts-pq{
        width: 362px;
        height: 241px;
    }
}

@media(max-width:1199px){
    img.post-big{
        width: 560px;
        height: 373px;
    }

    img.posts-pq{
        width: 277px;
        height: 185px;
    }

    .card-body{
        height: 300px;
    }

    .card-pontas{
        height: 325px;
    }

    .sub-vagas-preenchidas{
        display: flex;
        margin-bottom: 5%;
    }

    .sub-vagas-body{
        height: 520px;
    }

    #sub-botao1{
        margin-top: 11%;
        background-color: hsla(195, 98%, 19%, 0.600);
        border: 1px solid hsla(195, 98%, 19%, 0.600);
    }

    #sub-botao2{
        background-color: hsla(195, 98%, 19%, 0.600);
        border: 1px solid hsla(195, 98%, 19%, 0.600);
    }

    #sub-botao3{
        margin-top: 53%;
        background-color: hsla(195, 98%, 19%, 0.600);
        border: 1px solid hsla(195, 98%, 19%, 0.600);
    }

    #sub-vagas-body1{
        height: 547px;
    }

    #sub-vagas-body3{
        height: 532px;
    }

    .vagas-preenchidas{
        display: none;
    }

    .outras-vagas{
        height: 393px;
    }
    
    .outra-vaga2{
        height: 370px;
    }

}

@media (max-width: 1180px){
    .footer-col{ 
        width: 40%;
        margin-bottom: 30px;
    }
}

@media(max-width: 995px){
    img.post-big{
        width: 445px;
        height: 297px;
    }

    img.posts-pq{
        width: 219px;
        height: 146px;
    }
}

@media (max-width: 991px){
    .card{
        margin-bottom: 7%;
    }

    .coluna-imagem-concurso{
        display: none;
    }

    .col-image-concurso{
        display: flex;
    }
    


}

@media (max-width: 800px){
    header{
        margin-bottom: 5%;
    }

    h1.main-title{
        font-size: 2.5em;
    }

    img.posts{
        width: 440px;
        height: 293px;
    }
}

@media screen and (max-width: 770px){
	/*Header*/
    header{
		display: none;
	}

	#menu{
		display: block;
	}

	li.l{
        text-align: center;
    }
    /*Fim Header*/

}

@media (max-width: 750px){
    header{
        margin-bottom: 5%;
    }

    h1.main-title{
        font-size: 2em;
    }

    h2.main-subtitle{
        font-size: 1.5em;
    }

    img.posts{
        width: 400px;
        height: 267px;
    }

    /*Equipe 2023*/
    #concurso-title{
        margin-top: 16%;
    }
    /*Fim Equipe 2023*/
}

@media (max-width: 700px){
    .footer-col{
        width: 100%;
    }

    li{
        text-align: center;
    }
}

@media (max-width: 625px){
    .card:hover{
        cursor: pointer;
        transform: scale(1.01);
        transition: all 0.5s ease
    }
}

@media (max-width: 510px){
    h1.main-title{
        font-size: 1.9em;
    }

    h2.main-subtitle{
        font-size: 1.3em;
    }

}

@media (max-width: 480px){
    img.posts{
        width: 300px;
        height: 200px;
    }
}

@media (max-width: 467px){
    .card-body-big{
        height: 320px;
    }
}

@media (max-width: 381px){
    .card-body-big{
        height: 410px;
    }
}

@media (max-width: 350px){
    .card-body-big1{
        height: 480px;
    }
}

@media screen and (max-width: 320px){
    .block{
        display: block;
    }
    .none{
        display: none;
    }
    .midias-sociais1{
        
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        margin: auto;

    }
    .midia{
        margin: 0px 40px 0px 0px;

    }
    .midia1{
        margin-left: 55px;
    }
    .botaoalinhar{
    Display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    Justify-content: end;
    margin-top: -30px;
    margin-right: 20px;
    }
}    

@media (max-width: 316px){
    .card-body-big{
        height: 450px;
    }

    .card-body-big1{
        height: 520px;
    }
}

@media (max-width: 284px){
    .sub-vagas-preenchidas{
        height: 900px;
    }

    #sub-botao1{
        margin-top: -10%;
    }
}

@media (max-width: 281px){
    .card-body-big{
        height: 500px;
    }

    .card-body-big1{
        height: 570px;
    }
}

@media (max-width: 768px) and (min-width: 456px){
    .botaoalinhar{
    Display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    Justify-content: end;
    margin-top: -30px;
    margin-right: 10px;
    }
}
@media (max-width: 1500px) and (min-width: 769px){
    .botaoalinhar{
    Display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    Justify-content: end;
    margin-top: -30px;
    margin-right: 15px;
    }
}
@media (max-width: 360px) and (min-width: 321px){
    .botaoalinhar{
    Display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    Justify-content: end;
    margin-top: -30px;
    margin-right: 5px;
    }
}
